<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{adddifficulty}">Add a new difficulty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text="#{adddifficulty}">Add a new difficulty</h1>
	<div>
		<form th:object="${difficulty}" th:action="@{/savedifficulty}" action="#" method="post">
			<table>
				<tr>
				  	<td th:text="#{difficulty}"><label for="rating">Difficulty</label></td>
					<td><input type="text" id="rating" th:field="*{rating}" /></td>
					<td><div style="clear: both; display: block; height: 10px;"></div></td>
					<td th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-danger" th:text="#{save}" >Save</button>
			<a href="/difficultylist" class="btn btn-info" role="button" th:text="#{cancel}">Cancel</a>
		</form>		
	</div>
</body>
</html>