<! DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Difficultylist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-between">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/songlist">Songlist</a>
			<a class="nav-item nav-link" href="/tuninglist">Tuninglist</a>
			<a class="nav-item nav-link active" href="/difficultylist">Difficultylist</a>
		</div>
		<span class="navbar-brand">Welcome [[${#httpServletRequest.remoteUser}]]</span>
		<form class="form-inline" th:action="@{/logout}" method="post">
			<button type="submit" class="btn btn-danger">Sign out</button>
		</form>   
	</nav>
	
	<table class="table table-hover">
		<thead class="thead-light">
		<tr>
			<th>Rating</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tr th:each="difficulty : ${difficulties}">
			<td th:text="${difficulty.rating}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletedifficulty/{id}(id=${difficulty.difficultyid})}" class="btn btn-danger">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editdifficulty/{id}(id=${difficulty.difficultyid})}" class="btn btn-primary">Edit</a></td>
		</tr>
	</table>
		<a href="/adddifficulty" class="btn btn-success">Add Difficulty</a>
</body>
</html>