<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit a difficulty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit a difficulty</h1>
	<div>
		<form th:object="${difficulty}" th:action="@{/savedifficulty}" action="#" method="post">
			<input type="hidden" id="difficultyid" th:field="*{difficultyid}" value="*{difficultyid}"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="rating">Difficulty</label>
			<input type="text" id="rating" th:field="*{rating}" />
			<div style="clear: both; display: block; height: 10px;"></div>
	
		  	
			<input type="submit" value="Save"></input>
			<a href="/difficultylist" class="btn btn-success">Cancel</a>
		</form>
	</div>
</body>
</html>