<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit a song</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit a song</h1>
	<div>
		<form th:object="${song}" th:action="@{/savesong}" action="#" method="post">
			<table>
				<tr>
					<td><input type="hidden" id="songid" th:field="*{songid}" value="*{songid}"/></td>
					<td><div style="clear: both; display: block; height: 10px;"></div></td>
				</tr>
				<tr>
		  			<td><label for="title">Title</label></td>
					<td><input type="text" id="title" th:field="*{title}" value="*{title}" /></td>
					<td><div style="clear: both; display: block; height: 10px;"></div></td>
				</tr>
				<tr>
				  	<td><label for="artist">Artist</label></td>
					<td><input type="text" id="artist" th:field="*{artist}" value="*{artist}" /></td>
					<td><div style="clear: both; display: block; height: 10px;"></div></td>
				</tr>
				<tr>
		  			<td><label for="tuninglist">Tuning</label></td>
					<td><select id="tuninglist" th:field=*{tuning} class="form-control" name="Tuning">
						<option th:each="tuning:${tunings}" th:value="${tuning.tuningid}" th:text="${tuning.name}"></option>
					</select></td>
					<td><div style="clear: both; display: block; height: 10px;"></div></td>
				</tr>
				<tr>
				  	<td><label for="difficultylist">Difficulty</label></td>
					<td><select id="difficultylist" th:field=*{difficulty} class="form-control" name="Difficulty">
						<option th:each="difficulty:${difficulties}" th:value="${difficulty.difficultyid}" th:text="${difficulty.rating}"></option>
					</select></td>
					<td><div style="clear: both; display: block; height: 10px;"></div></td>
				</tr>
				<tr>
					<td><label for="tutorial">Tutorial</label></td>
					<td><input type="text" id="tutorial" th:field="*{tutorial}" /></td>
					<td><div style="clear: both; display: block; height: 10px;"></div></td>
				</tr>
		  		<tr>
					<td><input type="submit" value="Save"></input></td>
					<td><a href="/songlist" class="btn btn-success">Cancel</a></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>